*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainfont: "Protest Strike", sans-serif;
}
body{
    background-image: url(dogBc.png);
    background-size: cover;
    overflow-x: hidden;
}
nav{
    position: fixed;
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid rgb(205, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}
.logo{
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    img{
        height: 145%;
        width: auto;
        transform: translateY(-15px);
        cursor: pointer;
    }
}
.navMenu{
    height: 100%;
    width: auto;
    ul{
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 80px;
        a{
            text-decoration: none;
            color: black;
            font-family: var(--mainfont);
            font-size: 22px;
            font-weight: 500;
            transition: 500ms;
            transition-timing-function: ease-in-out;
        }
    }
    
}
li:hover{
    color: #fb8a22;
    transform: translate(1px, 1px);
}
.cart{
    height: 100%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        height: 50%;
        width: auto;
    }
    #addCart{
        position: relative;
        bottom: 25%;
        height: 25px;
        width: 25px;
        background-color: #fb8a22;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: var(--mainfont);
        flex-shrink: 0;
    }
}
#hamburger{
    height: 100%;
    width: auto;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
    }
    #closeMenu{
        display: none;
    }
}
#burgerDrop{
    position: relative;
    scale: 0;
    position: fixed;
    top: 70px;
    transition: scale 1s;
    z-index: 10;
    background-color: #fb8a22;
    width: 100%;
    ul, li{
        display: grid;

        a{
            margin: 5px;
            text-decoration: none;
            font-family: var(--mainfont);
            padding: 5px;
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }
}
#burgerDrop ul li a:hover{
    color: blue;
}
main{
    width: 100svw;
    height: auto;
    border-bottom: 1px solid rgb(7, 7, 212);
    box-shadow: 0px 0px 20px 2px silver;
    position: relative;
    top: 71px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    overflow-x: hidden;
}
.about{
    height: fit-content;
    width: 45%;
    font-family: var(--mainfont);
    /* border: 1px solid black; */
    font-size: 22px;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: center;
    color: rgb(7, 7, 212);
    b{
        color: #fb8a22; font-size: 25px;
    }
}
.aboutImage{
    height: 100% auto;
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: fit-content;
    width: 100%;
    margin-top: 76px;
}
.footerContent{
    height: fit-content;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        gap: 30px;
        justify-content: space-between;
        margin: 30px;
        font-family: var(--mainfont);
        font-size: 20px;
        li a{
            color: rgb(7, 7, 212);
            text-decoration: none;
        }
    }
    li a:hover{
        color: #fb8a22;
        transform: translate(2px, 2px);
    }
}
.rightsReserved{
    width: 100%;
    height: 70px;
    background-color: #fb8a22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-family: var(--mainfont);
}
.mediaIcon{
    display: flex;
    column-gap: 30px;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    i:hover{
        color: rgb(7, 7, 212);
    }
}

@media (max-width: 1024px) {
   main{
    min-height: 100%;
    .about{
        position: relative;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.5);
        p{
            color: #fb8a22;
            b{
                color: blue;
            }
        }
    }
    .aboutImage{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
   }
}
@media all and (max-width: 768px) {
    nav{
        padding: 0px 40px;
        .navMenu{
            display: none;
        }
        #hamburger{
            display: grid;
        }
    }
    footer{
        .footerContent{
            display: flex;
            ul{
                width: 50%;
                gap: 20px;
                font-size: 10px;
                margin: 20px;
            }
        }
        .rightsReserved{
            height: 50px;
            padding: 0px 10px;
            font-size: 10px;
            font-weight: lighter;
        }
        .mediaIcon{
            display: flex;
            column-gap: 10px;
            a{
                font-size: 10px;
            }
        }
    }
}
@media all and (max-width: 574px) {
    nav{
        padding: 0px 15px;
        padding-left: 30px;
    }
    footer{
        .footerContent{
            display: flex;
            ul{
                width: 50%;
                gap: 20px;
                font-size: 10px;
                margin: 20px;
            }
        }
        .rightsReserved{
            height: 50px;
            padding: 0px 10px;
            font-size: 10px;
            font-weight: lighter;
        }
        .mediaIcon{
            display: flex;
            column-gap: 10px;
            a{
                font-size: 10px;
            }
        }
    }
}