*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainfont: "Protest Strike", sans-serif;
}
nav{
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid rgb(205, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}
.logo{
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    img{
        height: 145%;
        width: auto;
        transform: translateY(-15px);
        cursor: pointer;
    }
}
.navMenu{
    height: 100%;
    width: auto;
    ul{
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 80px;
        a{
            text-decoration: none;
            color: black;
            font-family: var(--mainfont);
            font-size: 22px;
            font-weight: 500;
            transition: 500ms;
            transition-timing-function: ease-in-out;
        }
    }
    
}
li:hover{
    color: #fb8a22;
    transform: translate(1px, 1px);
}
.cart{
    height: 100%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        height: 50%;
        width: auto;
    }
    #addCart{
        position: relative;
        bottom: 25%;
        height: 25px;
        width: 25px;
        background-color: #fb8a22;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: var(--mainfont);
    }
}
main{
    min-height: 70vh;
    width: 100%;
    border-bottom: 1px solid silver;
    position: relative;
    top: 71px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.proPicPerspective{
    max-width: 350px;
    height: fit-content;
    perspective: 350px;
}
.proPic{
    height: 400px;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 0px 0px 15px .5px rgb(219, 219, 219);
    transform: rotateY(5deg);
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: pointer;
    transition: all 700ms;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    font-family: var(--mainfont);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
    img{
        width: 70%;
        height: auto;
        display: block;
    }
    .proName{
        height: auto;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid silver;
        font-family: var(--mainfont);
        font-size: 22px;
    }
}
main .proPicPerspective .proPic:hover{
    transform: rotateY(0deg);
    background: linear-gradient(10deg, #fb8a22 10%, #f39a46 20%, #fcf1e8 100%);
    box-shadow: 0px 0px 15px 1px #f7a960;
    color: white;
}
.proDetails{
    /* border: 1px solid red; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--mainfont);
    padding: 10px;
    gap: 20px;
    & div{
        height: fit-content;
        width: 100%;
        display: grid;
        gap: 10px;
        text-align: left;
        font-size: small;
        font-weight: 200;
        i{
            color: #fb8a22;
        }
    }
    button{
        margin-top: 100px;
        padding: 10px;
        width: 30%;
        border: 1px solid silver;
        border-radius: 20px;
        color: black;
        font-family: var(--mainfont);
        font-size: 20px;
        background-color: white;
        cursor: pointer;
        transition: 500ms;
    }
    button:hover{
        background: linear-gradient(10deg, #fb8a22 10%, #f39a46 20%, #fcf1e8 100%);
        color: white;
        transform: rotate(5deg);
        border: none;
    }
}
footer{
    height: fit-content;
    width: 100%;
    margin-top: 76px;
}
.footerContent{
    height: fit-content;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        gap: 30px;
        justify-content: space-between;
        margin: 30px;
        font-family: var(--mainfont);
        font-size: 20px;
        li a{
            color: rgb(7, 7, 212);
            text-decoration: none;
        }
    }
    li a:hover{
        color: #fb8a22;
        transform: translate(2px, 2px);
    }
}
.rightsReserved{
    width: 100%;
    height: 70px;
    background-color: #fb8a22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-family: var(--mainfont);
}
.mediaIcon{
    display: flex;
    column-gap: 30px;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    i:hover{
        color: rgb(7, 7, 212);
    }
}