*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainfont: "Protest Strike", sans-serif;
}
body{
    overflow-x: hidden;
}
nav{
    position: fixed;
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid rgb(205, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}
.logo{
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    img{
        height: 145%;
        width: auto;
        transform: translateY(-15px);
        cursor: pointer;
    }
}
.navMenu{
    height: 100%;
    width: auto;
    ul{
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 80px;
        a{
            text-decoration: none;
            color: black;
            font-family: var(--mainfont);
            font-size: 22px;
            font-weight: 500;
            transition: 500ms;
            transition-timing-function: ease-in-out;
        }
    }
    
}
li:hover{
    color: #fb8a22;
    transform: translate(1px, 1px);
}
.cart{
    height: 100%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        height: 50%;
        width: auto;
    }
    #addCart{
        position: relative;
        bottom: 25%;
        height: 25px;
        width: 25px;
        background-color: #fb8a22;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: var(--mainfont);
        flex-shrink: 0;
    }
}
#hamburger{
    height: 100%;
    width: auto;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
    }
    #closeMenu{
        display: none;
    }
}
#burgerDrop{
    position: relative;
    scale: 0;
    position: fixed;
    top: 70px;
    transition: scale 1s;
    z-index: 10;
    background-color: #fb8a22;
    width: 100%;
    ul, li{
        display: grid;

        a{
            margin: 5px;
            text-decoration: none;
            font-family: var(--mainfont);
            padding: 5px;
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }
}
#burgerDrop ul li a:hover{
    color: #fb8a22;
}
section{
    position: relative;
    top: 71px;
    height: 100svh;
    display: flex;
    padding: 5px;
    padding-right: 10px;
    overflow-x: hidden;
}
.blurCover{
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    display: none;
}
.Herotxt{
    height: 100%;
    font-family: var(--mainfont);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: rotate(5deg);
    line-height: 6em;
    color: #fb8a22;
    h1{
        font-size: 4em;
        text-align: center;
        position: relative;
        top: 18%;
    }
    button{
        padding: 15px;
        font-family: var(--mainfont);
        font-size: 18px;
        border-radius: 30px;
        border: 1px solid rgb(153, 153, 153);
        background-color: white;
        transform: rotate(-5deg);
        position: absolute;
        bottom: 15%;
        background-color: white;
        transition: 500ms;
    }
    button:hover{
        background-color: #fb8a22;
        color: white;
        transform: rotate(3deg);
    }
}
.heroImgContainer{
    width: 100%;
    height: 100%;
    background-image: url(tornpaperbg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        z-index: -1;
        width: auto;
        height: 80%;
        display: block;
    }
}
header{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--mainfont);
    color: #fb8a22;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
}
main{
    height: fit-content;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 10px 30px 10px;
    gap: 20px;
    row-gap: 60px;
    border-bottom: 1px solid silver;
}
#perspective{
    /* border: 1px solid red; */
    height: fit-content;
    width: 350px;
    perspective: 350px;
}
#products{
    min-height: 400px;
    width: inherit;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 0px 0px 15px .5px rgb(219, 219, 219);
    transform: rotateY(5deg);
    transform-style: preserve-3d;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    font-family: var(--mainfont);
    cursor: pointer;
    overflow-y: hidden;
    transition: 500ms;
    padding: 10px 0px;
    img{
        width: 70%;
        height: auto;
    }
    .prdtNm{
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid silver;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        margin-top: 20px;
    }
    .productPrice{
        width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #fb8a22;
        font-weight: 600;
        font-size: 22px;
        & button{
            height: 50px;
            width: 100px;
            position: absolute;
            left: 0%;
            bottom: -13%;
            border-radius: 30px 30px 0px 30px;
            border: 1px solid #fb8a22;
            background-color: #fb8a22;
            color: white;
            font-family: var(--mainfont);
            font-size: 15px;
            cursor: pointer;
            transition: 500ms;
        }
    }
}
#perspective #products:hover{
    transform: rotateY(0deg);
    .productPrice button{
        transform: translateY(-51px);
    }
}
#moreProduct{
    width: 100%;
    height: fit-content;
    pad: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-family: var(--mainfont);
        padding: 15px 25px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid silver;
        font-size: 20px;
        transition: all 500ms;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    a:hover{
        background-color: #fb8a22;
        color: white;
        transform: rotate(-5deg);
    }
}
footer{
    height: fit-content;
    width: 100%;
}
.footerContent{
    height: fit-content;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        gap: 30px;
        justify-content: space-between;
        margin: 30px;
        font-family: var(--mainfont);
        font-size: 20px;
        li a{
            color: rgb(7, 7, 212);
            text-decoration: none;
        }
    }
    li a:hover{
        color: #fb8a22;
        transform: translate(2px, 2px);
    }
}
.rightsReserved{
    width: 100%;
    height: 70px;
    background-color: #fb8a22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-family: var(--mainfont);
}
.mediaIcon{
    display: flex;
    column-gap: 30px;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    i:hover{
        color: rgb(7, 7, 212);
    }
}
@media all and (max-width: 1024px) {
    nav{
        z-index: 10;
    }
    section{
        padding: 20px;
        .blurCover{
            display: block;
        }
        .Herotxt{
            position: absolute;
            width: 100%;
            height: 90%;
            z-index: 1;
            h1{
                width: 70%;
                top: 30%;
            }
            button{
                bottom: 25%;
                background-color: rgba(255, 255, 255, 0.8);
            }
        }
        .heroImgContainer{
            position: inherit;
        }
    }
    header{
        margin-top: 70px;
    }
}
@media all and (max-width: 768px) {
    body{
        font-size: auto;
    }
    nav{
        padding: 0px 40px;
        .navMenu{
            display: none;
        }
        #hamburger{
            display: grid;
        }
    }
    section{
        align-items: center;
        justify-content: center;
        .Herotxt{
            line-height: 5em;
            h1{
                font-size: 3em;
            }
            button{
                bottom: 25%;
            }
        }
        .heroImgContainer{
            img{
                height: 100%;
                width: auto;
            }
        }
    }
    .rightsReserved{
        padding: 0px 20px;
    }
}
@media (max-height: 800px) {
    .Herotxt{
        height: 95%;
        justify-content: center;
        row-gap: 90px;
        h1{
            font-size: 4em;
            text-align: center;
            position: static;
        }
        button{
            font-size: 18px;
            position: static;
        }
    }
}
@media all and (max-width: 574px) {
    nav{
        padding: 0px 15px;
        padding-left: 30px;
    }
    section{
        .Herotxt{
        background-color: rgba(255, 255, 255, 0.3);
            h1{
                font-size: 2em;
                line-height: 2em;
                width: 100%;
            }
            button{
                font-size: 10px;
            }
        }
        .heroImgContainer{
           img{
            width: 100%;
            height: auto;
           }
        }
    }
    header{
        font-size: 8px;
        align-items: center;
        height: 70px; 
        padding: 0px;
    }
    main{
        row-gap: 25px;
        #perspective{
            height: fit-content;
            width: 95%;
        }
        #exploreProducts{
            font-size: 10px;
        }
    }
    footer{
        .footerContent{
            display: flex;
            ul{
                width: 50%;
                gap: 20px;
                font-size: 10px;
                margin: 20px;
            }
        }
        .rightsReserved{
            height: 50px;
            padding: 0px 10px;
            font-size: 10px;
            font-weight: lighter;
        }
        .mediaIcon{
            display: flex;
            column-gap: 10px;
            a{
                font-size: 10px;
            }
        }
    }
}